@model Stripe.Checkout.Session
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Home Page";
}

<script src="https://js.stripe.com/v3/"></script>
<h2>You will transfer to the safe environment of Stripe</h2>


<script src="~/Scripts/jquery-3.6.0.js"></script>

<script>
    var stripe = Stripe("pk_test_51IeiiiHIhuPseqDM85cdhtuATWN3MDRclepRkT3krS7yMmX1mmktUcM5MWO9m0Cb2RtGQj2gNBtizWcohtpPKFtA00kNX0JVAB");

    $(document).ready(function () {
        setTimeout(function () {
            stripe.redirectToCheckout({
            sessionId: '@Model.Id'
        }).then(function (result) { });

        }, 1000);
    });   
</script>